{% include 'head.html' %}
<br/><br/>
{% include 'menu.html' %}
<br/><br/>
 <form action="{% url 'save_pwd' %}" method="post">
        {% csrf_token %}
<table align="center" border="0">
    <tr><th>Email_Id<input type="email" required name="email_id"/></th></tr>
    <tr><th>Old_Password<input type="password" required name="old_pwd"/></th></tr>
    <tr><th>New_Password<input type="password" required name="new_pwd"/></th></tr>
    <tr><th>Confirm_Password<input type="password" required name="confirm_pwd"/></th></tr>
    <tr align="center"><th><button type="submit">Save</button></th></tr>
</table>
     </form>
<h3 style="text-align: center">{{ msg }}</h3>